		<h2>Forgot your password?</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }, html: {class: "form-horizontal"}) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email %>

  <div class="form-actions"><%= f.submit 'Send me my password' %></div>
<% end %>

<%= render "links" %>